.rpmmacros
BUILD/
SOURCES/
SPECS/
SRPMS/
RPMS/
Rolls.mk
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
SOURCES/
SPECS/
_arch
_distribution
_os
disk*/
python.mk
rocks-version-common.mk
rocks-version.mk
roll-profile.mk
roll-*.xml
bootstrap.py
build.log
src/build*
cache/
*.spec
*.spec.mk
*.iso
*.tar.gz
*.tar.bz2
*.tgz
*.rpm
*.zip
